$name: main;

.#{$name} {
	padding: 5rem 0;

	&__store-wrap {

		@include screen-sm() {
			margin-bottom: 2em;
		}
	}

	&__gap-bot {
		margin-bottom: 2rem;
	}

	&__basket-wrap {

		@include screen-md(max) {
			margin-bottom: 2rem;
		}
	}
}