include ../mixins/store

.container

	.accordion

		each val in store
			.main__store-wrap
				+store(val, {
					panel: 'accordion__panel',
					title: 'accordion__title',
					body: 'accordion__body'
				})