@font-face {
	font-family: 'HelveticaNeue';
	src: url('../../fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot');
	src: url('../../fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff') format('woff'),
		url('../../fonts/HelveticaNeue/HelveticaNeueCyr-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.eot');
	src: url('../../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff') format('woff'),
		url('../../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}