html {
	box-sizing: border-box;
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-size: 1.1rem;
	font-family: $font-main;
	color: $color-text;
	line-height: 1.4;
	letter-spacing: 1px;
}

input,
textarea {
	/* stylelint-disable property-no-vendor-prefix */
	-webkit-appearance: none;
	border-radius: 0;

	&:hover,
	&:focus,
	&:active {
		outline: none;
	}
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: $color-text;
}

.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 100%;

	@include screen-sm() {
		width: 540px;
	}

	@include screen-md() {
		width: 720px;
	}

	@include screen-lg() {
		width: 960px;
	}

	@include screen-xl() {
		width: 1140px;
	}
}